{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Bienvenue sur le dashboard d\'Easy Sport Tests' %}

{% block main %}
   
<h1>Oui</h1>


{% endblock %}