{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="contact_form">
        <h3 class="title edit">Par Mail</h3>
            <form method="POST" action="form.php" id="-fcontactorm" onsubmit="return validateContactForm()">
            <input name="lastname" type="text" class="field" placeholder="Nom" id="firstname">
            <input name="firstname" type="text" class="field" placeholder="Prénom" id="lastname">
            <input name="email" type="text" class="field" placeholder="Email" id="email">
            <textarea name="content" placeholder="Message" class="field" id="content"></textarea>
            <p><input class="btn_form" type="submit" value="Envoyer" /></p>
            </form>

</div>

{% endblock %}