{% extends 'base.html.twig' %}
{% block title %}Mentions Légales{% endblock %}
{% block body %}
<div class="container">
<h1 class="title">Mentions Légales</h1>

  <h2 class="title">Informations générales</h2>
  <p class ="paragraph_dark">Raison sociale : Françoise Valette</p>
  <p class="paragraph_dark">Adresse : [Adresse de l'entreprise]</p>
  <p class="paragraph_dark">Téléphone : [Numéro de téléphone]</p>
  <p class="paragraph_dark">Email : [Adresse email de contact]</p>

  <h2 class="title margin">Responsabilité</h2>
  <p class ="paragraph_dark">Le contenu de ce site web est fourni à titre informatif. Françoise Valette ne peut garantir l'exactitude, la pertinence ou l'exhaustivité des informations fournies sur ce site.</p>
  <p class="paragraph_dark">Françoise Valette décline toute responsabilité quant à l'utilisation qui pourrait être faite des informations présentes sur ce site. L'utilisateur est seul responsable de l'utilisation qu'il en fait.</p>

  <h2 class="title margin">Propriété intellectuelle</h2>
  <p class ="paragraph_dark">Tous les contenus présents sur ce site (textes, images, graphismes, logos, etc.) sont la propriété exclusive de Françoise Valette ou de ses partenaires. Toute reproduction, représentation, diffusion ou exploitation, même partielle, des éléments du site est strictement interdite sans autorisation préalable.</p>

  <h2 class="title margin">Liens externes</h2>
  <p class ="paragraph_dark">Ce site peut contenir des liens vers des sites externes. Françoise Valette ne peut être tenu responsable du contenu de ces sites et décline toute responsabilité quant aux informations, produits ou services proposés sur ces sites tiers.</p>

  <h2 class="title margin">Protection des données personnelles</h2>
  <p class ="paragraph_dark">Françoise Valette s'engage à respecter la confidentialité des informations personnelles fournies par les utilisateurs de ce site. Les données collectées ne sont utilisées que dans le cadre des services proposés par le site et ne sont en aucun cas transmises à des tiers.</p>
  <p class="paragraph_dark">Conformément à la loi Informatique et Libertés, vous disposez d'un droit d'accès, de modification et de suppression des données vous concernant. Pour exercer ce droit, veuillez nous contacter à l'adresse [Adresse de contact].</p>

  <h2 class="title margin">Modification des mentions légales</h2>
  <p class ="paragraph_dark">Françoise Valette se réserve le droit de modifier les présentes mentions légales à tout moment. Nous vous invitons donc à les consulter régulièrement.</p></div>

  {% endblock %}