{% extends 'base.html.twig' %}

{% block body %}
        <div class="container">
            
                <h2 class="title edit margin_bottom ">{{data[0].rdvTitle}}</h2>
                <div class="rdv">
                <div class="paragraph_dark edit left">{{data[0].rdvTextUn|raw}}</div>
                    <div class="medoucine">
                        <p class="paragraph_dark edit">Pour prendre rendez-vous via medoucine, il vous suffit de cliquer sur l'image ci-dessous :</p>
                        <a class="text" href="https://www.medoucine.com" target="_blank"><img src="{{asset('assets/img/Picto-medoucine.png')}}" alt="Medoucine" class="img_medoucine"></a>                        
                    </div>
                </div>
            </div>
        </div>  

{% endblock %}
