{% extends 'base.html.twig' %}
{% block title %}{{categorie.name}}{% endblock %}
{% block meta_description %}"Une expertise en hypnose pour votre bien-être - Découvrez les compétences et l'expérience approfondie de notre praticienne en hypnose certifiée. En combinant des techniques avancées d'hypnothérapie et une approche holistique, nous vous offrons un accompagnement sur mesure pour résoudre vos problèmes, surmonter les blocages et atteindre vos objectifs personnels. Faites confiance à notre expertise pour une transformation positive."{% endblock %}

{% block body %}
<main>
        <div class="container">
            <h2 class="title margin_title edit">{{categorie.name}}</h2>
            <div class="paragraph_dark margin_title edit">{{categorie.text|raw}}</div>
            <ul class="column_list">
            {% for skill in skills %}
                <li class="list_style_on padding edit">{{skill.name}}</li>
            {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}
