{% extends 'base.html.twig' %}
{% block title %}Tarifs{% endblock %}
{% block meta_description %}"Une valeur inestimable pour votre bien-être - Consultez nos tarifs compétitifs pour des séances d'hypnothérapie hautement personnalisées. Nous croyons en l'accès à des soins de qualité pour tous, c'est pourquoi nous proposons des tarifs transparents et abordables. Investissez dans votre épanouissement personnel et découvrez les bénéfices durables de l'hypnose. Prenez rendez-vous dès aujourd'hui."{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h2 class="title margin_title edit">Tarifs</h2>
            <div class="paragraph_dark edit">{{data[0].TarifsText1|raw}}</div>
        </div>
    </main>
{% endblock %}