{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <h2 class="title margin_title edit">Tarifs</h2>
            <p class="paragraph_dark edit"><b>Tarif classique </b>: Le tarif pour une séance s'élève à <span class="price">70 euros</span>.</p>
            <br>
            <p class="paragraph_dark edit"><b>Tarif étudiant </b>:Pour les étudiants, le prix de la séance s'élève à <span class="price">50 euros.</span></p>
            <br>
            <p class="paragraph_dark edit">
            <b>Forfait 5 séances </b>:Il existe aussi un forfait pour 5 séances au prix de <span class="price">300 euros</span>, soit une remise de 50 euros.</p>

            <p class="paragraph_dark edit">Si vous souhaitez bénéficier du forfait, merci de me le préciser lors de la prise du premier rendez-vous.</p>
            <br>
            
        </div>
    </main>
{% endblock %}